* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

.clearfix{
	content:"";
	display:block;
	clear:both;
}

.headline{
	background-image:url(img/mv.jpg);
	background-size:cover;
	background-position:bottom;
	height: 400px;
	width:100%;
}

.headline-text{
	padding:20px;
}

main{
	width:840px;
	margin: 50px auto;
}

.service{
	border-bottom:1px solid silver;
	margin-bottom:30px;
	padding-bottom:30px;
}