* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main{
	width: 960px;
	margin: 50px auto;
}

.box{
	width:300px;
	position: relative;
	border: 1px solid #eee;
	margin-right: 30px;
	padding:10px;
	float:left;
}

.box:last-child{
	margin-right: 0;
}

.step{
	padding:3px;
	color: white;
	background-color: #FF9A4B;
	position: absolute;
	top: 0;
	left: 0;
}

.image1{
	height:150px;
	background-image: url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
}

.image2{
	height:150px;
	background-image: url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
}

.image3{
	height:150px;
	background-image: url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
}

.title{
	margin:15px 0 5px;
}